{
    "plugins": [
        "@babel/proposal-object-rest-spread",
        ["@babel/transform-react-jsx", {
            "pragma": "createAudioElement"
        }]
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/transform-modules-commonjs"
            ]
        }
    }
}
